version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  groups:
    all:
      patterns:
      - '*'
  schedule:
    interval: "daily"
  ignore:
    - dependency-name: "k8s.io/api"
      versions: ["0.19.x"]
    - dependency-name: "k8s.io/api-machinery"
      versions: ["0.19.x"]
    - dependency-name: "k8s.io/client-go"
      versions: ["0.19.x"]
    - dependency-name: "github.com/go-logr/logr"
      versions: ["0.2.x"]
- package-ecosystem: "gomod"
  directory: "/internal/tools/"
  groups:
    all:
      patterns:
      - '*'
  schedule:
    interval: "daily"
- package-ecosystem: "gomod"
  directory: "/internal/promtool/"
  groups:
    all:
      patterns:
      - '*'
  schedule:
    interval: "daily"
- package-ecosystem: "github-actions"
  directory: "/"
  groups:
    actions:
      patterns:
      - '*'
  schedule:
    interval: "weekly"
- package-ecosystem: "gomod"
  directory: "/bin/kubectl-rabbitmq-plugin/"
  groups:
    all:
      patterns:
      - '*'
  schedule:
    interval: "daily"
  ignore:
    - dependency-name: "github.com/rabbitmq/cluster-operator/v2"