[
  {server, [
    {cacertfile, "/etc/rabbitmq/certs/ca.crt"},
    {certfile,   "/etc/rabbitmq/certs/tls.crt"},
    {keyfile,    "/etc/rabbitmq/certs/tls.key"},
    {secure_renegotiate, true},
    {fail_if_no_peer_cert, true},
    {verify, verify_peer},
    {customize_hostname_check, [
      {match_fun, public_key:pkix_verify_hostname_match_fun(https)}
    ]}
  ]},
  {client, [
    {cacertfile, "/etc/rabbitmq/certs/ca.crt"},
    {certfile,   "/etc/rabbitmq/certs/tls.crt"},
    {keyfile,    "/etc/rabbitmq/certs/tls.key"},
    {secure_renegotiate, true},
    {fail_if_no_peer_cert, true},
    {verify, verify_peer},
    {customize_hostname_check, [
      {match_fun, public_key:pkix_verify_hostname_match_fun(https)}
    ]}
  ]}
].