labels:
  label1: foo
  label2: bar

annotations:
  annotation1: foo
  annotation2: bar

replicas: 3

image: "rabbitmq:3.8.1"

imagePullSecret: foo

service:
  type: LoadBalancer
  annotations:
    cloud.google.com/load-balancer-type: "Internal"

persistence:
  storageClassName: foo
  storage: "30Gi"

resources:
  requests:
    cpu: 777m
    memory: 1Gi
  limits:
    cpu: 888m
    memory: 1Gi

tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "rabbitmq"
    effect: "NoSchedule"

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/e2e-az-name
              operator: In
              values:
                - e2e-az1
                - e2e-az2
