# RabbitMQ Cluster Operator
#
# Copyright 2020 VMware, Inc. All Rights Reserved.
#
# This product is licensed to you under the Mozilla Public license, Version 2.0 (the "License").  You may not use this product except in compliance with the Mozilla Public License.
#
# This product may include a number of subcomponents with separate copyright notices and license terms. Your use of these subcomponents is subject to the terms and conditions of the subcomponent's license, as noted in the LICENSE file.
#

labels:
  label1: foo
  label2: bar

annotations:
  annotation1: foo
  annotation2: bar

replicas: 3

image: "rabbitmq:3.8.1"

imagePullSecret: foo

service:
  type: LoadBalancer
  annotations:
    cloud.google.com/load-balancer-type: "Internal"

persistence:
  storageClassName: foo
  storage: "30Gi"

resources:
  requests:
    cpu: 777m
    memory: 1Gi
  limits:
    cpu: 888m
    memory: 1Gi

tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "rabbitmq"
    effect: "NoSchedule"

rabbitmq:
  additionalPlugins:
    - rabbitmq_shovel
    - rabbitmq_shovel_management
  additionalConfig: |
    cluster_formation.peer_discovery_backend = rabbit_peer_discovery_k8s
  envConfig: |
    PLUGINS_DIR=/opt/rabbitmq/plugins:/opt/rabbitmq/community-plugins
  advancedConfig: |
    advancedConfig: |
      [
          {ra, [
              {wal_data_dir, '/var/lib/rabbitmq/quorum-wal'}
          ]}
      ].

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/e2e-az-name
              operator: In
              values:
                - e2e-az1
                - e2e-az2

tls:
  secretName: tls-secret

override:
  statefulSet:
    spec:
      template:
        spec:
          containers:
            - name: rabbitmq
              ports:
                - containerPort: 12345 # opens an additional port on the rabbitmq server container
                  name: additional-port
                  protocol: TCP
