name: PR

on:
  pull_request:
    branches: [ main ]

env:
  GO_VERSION: ~1.19
  K8S_VERSION: v1.24.1

jobs:

  unit_integration_tests:
    name: unit and integration tests
    runs-on: ubuntu-latest
    container: us.gcr.io/cf-rabbitmq-for-k8s-bunny/rabbitmq-for-kubernetes-ci
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
        check-latest: true
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - name: Unit tests
      run: make unit-tests
    - name: Integration tests
      run: make integration-tests

  test-all-examples:
    name: test-all-examples
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
        check-latest: true
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - name: Dry run examples
      run: |
        export GOPATH=$HOME/go
        export PATH=$PATH:$GOPATH/bin
        make install-tools
        kind create cluster --image kindest/node:"${{ env.K8S_VERSION }}"
        kubectl create --validate=false -f https://github.com/jetstack/cert-manager/releases/latest/download/cert-manager.crds.yaml
        # Create CRD PodMonitor without running Prometheus operator
        curl https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/master/bundle.yaml | sed "s/replicas: 1$/replicas: 0/" | kubectl create -f -
        make install
        sleep 3 # otherwise we sporadically observe 'no matches for kind "RabbitmqCluster" in version "rabbitmq.com/v1beta1'
        find docs/examples/ -name "*.y*ml" -exec kubectl apply --dry-run=server -f {} \;

  system_tests:
    name: system tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s:
        - v1.24.1
        rabbitmq-image:
        - rabbitmq:3.9.9-management # minimum supported version
        - rabbitmq:3.10-management
        - pivotalrabbitmq/rabbitmq:main-otp-min-bazel
        - pivotalrabbitmq/rabbitmq:main-otp-max-bazel
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
        check-latest: true
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - name: System tests
      env:
        K8S_VERSION: ${{ matrix.k8s }}
        RABBITMQ_IMAGE: ${{ matrix.rabbitmq-image }}
      run: |
        export GOPATH=$HOME/go
        export PATH=$PATH:$GOPATH/bin
        make install-tools
        kind create cluster --image kindest/node:"$K8S_VERSION"
        DOCKER_REGISTRY_SERVER=local-server OPERATOR_IMAGE=local-operator make deploy-kind
        SUPPORT_VOLUME_EXPANSION=false make system-tests

  kubectl_tests:
    name: kubectl rabbitmq tests
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
        check-latest: true
    - name: Install Bats
      run: |
        git clone https://github.com/bats-core/bats-core.git "$HOME"/bats-core
        cd "$HOME"/bats-core
        sudo ./install.sh /usr/local
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - name: kubectl rabbitmq tests
      run: |
        export GOPATH=$HOME/go
        export PATH=$PATH:$GOPATH/bin
        make install-tools
        kind create cluster --image kindest/node:"${{ env.K8S_VERSION }}"
        DOCKER_REGISTRY_SERVER=local-server OPERATOR_IMAGE=local-operator make deploy-kind kubectl-plugin-tests
